<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Médico</title>
    <link rel="stylesheet" href="/css/cadAgenda.css">
</head>
<body>
<div class="page">
    <form method="post" action="/medico/novo" class="formLogin">
        <h1><i>Cadastro de Médico</i></h1>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome do médico" required />
        <input type="submit" value="Cadastrar" class="btn" />
    </form>
</div>
</body>
</html>