<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Agendamento</title>
    <link rel="stylesheet" href="/css/cadAgenda.css">
</head>
<body>
<div class="page">
    <form method="post" th:action="@{/agendamento/{id}/editar(id=${agendamento.id})}" class="formLogin">
        <h1><i>Editar Agendamento</i></h1>
        <input type="hidden"  />

        <label for="nomePaciente">Nome do Paciente</label>
        <input type="text" id="nomePaciente" name="nomePaciente"  th:value="${agendamento.nomePaciente}" placeholder="Digite o nome do paciente" required />

        <label for="email">Email</label>
        <input type="email" id="email"  name="email" th:value="${agendamento.email}" placeholder="Digite seu email" required />

        <label for="dataHoraAgendamento" class="form_label">Data do agendamento</label>
        <input type="datetime-local" id="dataHoraAgendamento" name="dataHoraAgendamento" th:value="${agendamento.dataHoraAgendamento}" placeholder="Data do agendamento" required />

        <label for="clinica">Escolha uma clínica</label>
        <select id="clinica" name="clinica" >
            <option value="">Escolha uma clínica</option>
            <option value="Santa Clara" th:selected="${agendamento.clinica == 'Santa Clara'}">Santa Clara</option>
            <option value="Clinica Sim" th:selected="${agendamento.clinica == 'Clinica Sim'}">Clinica Sim</option>
            <option value="Clinica Amor e Saúde" th:selected="${agendamento.clinica == 'Clinica Amor e Saúde'}">Clinica Amor e Saúde</option>
        </select>

        <label for="medico">Escolha um médico</label>
        <select id="medico" name="medico" >
            <option value="">Escolha um médico</option>
            <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome}" th:selected="${medico.id == agendamento.medico.id}"></option>
        </select>

        <label for="status">Status</label>
        <select id="status" name="status" >
            <option value="true" th:selected="${agendamento.status}">Agendado</option>
            <option value="false" th:selected="${!agendamento.status}">Cancelado</option>
        </select>

        <input type="submit" value="Salvar" class="btn" />
    </form>
</div>
</body>
</html>