<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="stylesheet" href="/css/agend.css">
</head>
<body>
    <div class="page" >
            <h1>Bem vindo(a) a área de agendamentos</h1>

            <a href="/agendamento/novo"><button class="btn">Novo agendamento</button></a>
            <a href="/agendamento/lista"><button class="btn">Meus agendamentos</button></a>
          
    </div>
    
</body>
</html>
